.studentCard{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin: 15px;
}

.infoStudent p{
    line-height: 25px;
    font-size:17px;
    font-weight: 900;
    position:relative;
    top:0px; 
}

.imageStudent{
    width: 150px;
    margin-right: 20px;
    border: 5px solid #AEA0D0;
}

.box{
    width: 400px;
}

.allT{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background: #E7E3EF;
    position: relative;
}

.tableNotes{
    background-color:#3D73B2;
    color: white;
}

.finalNotes{
    height: 30px;
}

.asignatures{
    padding: 15px;
}

#main-conteiner{
    width:100%;
    display:flex;
    padding-top: 10px;
    text-align: justify;
    justify-content: center;
}

/*EDIT BOTON*/

.btnB{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 55px;
}

.buttonsCrud{
    display:flex;
    flex-direction: row;
}

.btnCrud{
    width: 100px;
    background: #d9cef4!important;
    color: #ffffff;
    text-align: center!important;
    font-family: 'Montserrat';
    border-radius: 10px;
    border: 0;
    padding: 3px;
    font-weight: normal;
    font-size: 11px;
    margin:5px;
    text-decoration:none;
}

a.green{
    color:rgb(37, 115, 37)!important;
}

a.green:hover{
    background:rgb(37, 115, 37)!important;
    color:white!important;
}

a.blue{
    color:blue!important;
}

a.blue:hover{
    background:blue!important;
    color:white!important;
}

a.red{
    color:red!important;
}

.btn-purpleB{
    color: white;
    background-color: #AEA0D0;
}

.btn-purpleB:hover{
    background-color: #988cb5;
}

.btn-purpleB:active{
    background-color: #7d7396;
}

/*BOTON ELIMINAR*/

.btnD{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 55px;
}

.btn-purpleD{
    color: white;
    background-color: #AEA0D0;
}

.btn-purpleD:hover{
    background-color: #988cb5;
}
.btn-purpleD:active{
    background-color: #7d7396;
}

/*BOTON BACK HOME*/

.btnA{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 55px;
}

.btn-purpleA{
    color: white;
    background-color: #ff9c64;
}

.btn-purpleA:hover{
    background-color: #da8555;
}

.btn-purpleA:active{
    background-color: #ad6d48;
}

